<div class="collection">
  <% if user_signed_in? %>
    <h1><%= current_user.first_name %>'s books</h1>
  <% else %>
    <h1>All books</h1>
  <% end %>
</div>

<% @books.each do |book| %>
  <div class="index books">
    <div class="book">
      <% if book.remote_cover.nil? %>
        <%= image_tag(book.picture, width: "150", alt: book.title, name: book.id, 'data-toggle' => 'tooltip', title: book.title + " - by " + book.author) %>
      <% else %>
        <%= image_tag(book.remote_cover, width: "150", alt: book.title, name: book.id, 'data-toggle' => 'tooltip', title: book.title + " - by " + book.author) %>
      <% end %>
    </div>
  </div>
<% end %>

<br />